@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Quicksand:wght@300..700&display=swap");

:root {
  /* colors */
  --col-pure-black: #000000;
  --col-black: #252422;
  --col-dark-grey: #403d39;
  --col-light-grey: #ccc5b9;
  --col-white: #f6f5f1;
  --col-pure-white: #ffffff;
  --col-highlight: #eb5e28;
  --col-accent: #489fb5;

  --col-txt: var(--col-black);
  --col-txt-alt: var(--col-white);
  --bg-col: var(--col-pure-white);
  --bg-col-alt: var(--col-black);

  /* Icons */
  --star-fill: var(--col-highlight);
  --star-stroke: var(--col-light-grey);

  /* default fonts */
  --default-font: "Quicksand", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --highlight-font: "Hammersmith One", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  --default-lineheight: 1.5;
  --default-fontsize: max(18px, 2vmin);

  /* generic */
  --small-padding: max(5px, 0.4vmax);
  --small-gap: max(5px, 0.4vmax);
  --small-radius: max(5px, 0.4vmax);
  --mid-gap: 1em;
  --large-gap: 2em;

  /* page paddings and gap */
  --page-padding-tb: max(2vh, 0.5rem);
  --page-padding-lr: max(3vw, 1rem);
  --page-padding: var(--page-padding-tb) var(--page-padding-lr);
  --page-gap: max(4vh, 0.5rem);
  --page-gap: 3lh 1lh;
  --page-outlet-padding: var(--page-padding-tb) 0 4lh;

  --transition-duration: 0.3s;

  /* header */
  --header-shop-name-font: var(--highlight-font);
  --header-shop-name-fontsize: 1.5rem;
  --header-col: var(--col-txt-alt);
  --header-gap: 1rem;
  --header-padding: var(--page-padding);
  --header-background: var(--col-black);

  --header-buttons-padding: 1rem min(1rem, 2.5vw);
  --header-buttons-fontsize: 1.2rem;

  --header-height: calc(2 * var(--page-padding-tb) + 3lh);

  /* footer */
  --footer-col: var(--col-txt-alt);
  --footer-background: var(--col-black);

  --footer-shop-name-font: var(--header-shop-name-font);
  --footer-shop-name-fontsize: var(--header-shop-name-fontsize);

  /* home */
  --home-shop-name-font: var(--header-shop-name-font);
  --home-shop-name-fontsize: 13vmin;
  --home-shop-padding-bottom: 5vh;

  /* heading */
  --heading-font: var(--highlight-font);
  --heading-size: 1rem;
  --heading-1-size: 3rem;
  --heading-2-size: 2rem;
  --heading-3-size: 1.5rem;

  --heading-subtext-font: var(--highlight-font);
  --heading-subtext-font-size: 1rem;
  --heading-subtext-color: var(--col-highlight);

  --shop-link-font: var(--highlight-font);

  /* product */
  --product-item-min-size: min(300px, 90vmin);
  --product-item-max-size: max(400px, 20vw);

  --product-item-min-size-minimized: min(250px, 80vmin);
  --product-item-max-size-minimized: max(250px, 10vw);

  --product-item-hover-thumbnail-scale: 1.2;
  --product-item-hover-thumbnail-greyscale: 0.6;
  --product-item-hover-thumbnail-opacity: 0.6;
  --product-text-size: 1rem;
  --product-title-col: var(--col-txt);
  --product-title-size: 1rem;
  --product-photo-color: var(--col-light-grey);
  --product-photo-shadow-size: 3rem;
  --product-price-font: var(--highlight-font);
  --product-price-size: 1.2rem;
  --product-price-highlight-col: var(--col-highlight);
  --product-tag-col: var(--col-txt-alt);
  --product-tag-bg-col: var(--col-dark-grey);
  --product-tag-highlight-bg-col: var(--col-highlight);
  --product-tag-size: 0.8rem;
  --product-transition-duration: var(--transition-duration);

  /* cart */
  --cart-price-font: var(--product-price-font);
  --cart-price-highlight-col: var(--col-highlight);
  --cart-total-price-size: 1.3rem;
  --cart-summary-max-width: 18em;
  --cart-summary-gap: 1lh;
  --cart-product-list-gap: 2lh;
  --cart-product-item-max-width: 35em;
  --cart-product-item-thumbnail-size: min(20vw, 4lh);

  /* product-list */
  --product-list-padding: var(--page-padding);
  --product-list-padding-tb: var(--page-padding-tb);
  --product-list-padding-lr: var(--page-padding-lr);
  --product-list-gap: var(--page-gap);
  --product-list-centered-icon-fontsize: 10vmin;

  --scroll-buttons-width: 2.4lh;
  --half-scroll-buttons-width: calc(var(--scroll-buttons-width) / 2);
  --negative-half-scroll-buttons-width: calc(
    -1 * var(--half-scroll-buttons-width)
  );

  /* category list */
  --section-list-padding: var(--page-padding);
  --section-list-gap: var(--mid-gap);
  --section-transition-duration: var(--transition-duration);
  --section-item-hover-thumbnail-scale: 1.2;
  --section-item-width: 7em;

  --category-banner-fontsize: min(4rem, 10vw);
  --category-banner-height: 5lh;

  --button-radius: 8px;
  --button-padding: 0.6em 1.2em;
}
