/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Quicksand:wght@300..700&display=swap");

:root {
  /* colors */
  --col-pure-black: #000000;
  --col-black: #252422;
  --col-dark-grey: #403d39;
  --col-light-grey: #ccc5b9;
  --col-white: #f6f5f1;
  --col-pure-white: #ffffff;
  --col-highlight: #eb5e28;
  --col-accent: #489fb5;

  --col-txt: var(--col-black);
  --col-txt-alt: var(--col-white);
  --bg-col: var(--col-pure-white);
  --bg-col-alt: var(--col-black);

  /* Icons */
  --star-fill: var(--col-highlight);
  --star-stroke: var(--col-light-grey);

  /* default fonts */
  --default-font: "Quicksand", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --highlight-font: "Hammersmith One", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  --default-lineheight: 1.5;
  --default-fontsize: max(18px, 2vmin);

  /* generic */
  --small-padding: max(5px, 0.4vmax);
  --small-gap: max(5px, 0.4vmax);
  --small-radius: max(5px, 0.4vmax);

  /* page paddings and gap */
  --page-padding-tb: max(2vh, 0.5rem);
  --page-padding-lr: max(3vw, 1rem);
  --page-padding: var(--page-padding-tb) var(--page-padding-lr);
  --page-gap: max(4vh, 0.5rem);

  /* header */
  --header-h1-font: var(--default-font);
  --header-h1-fontsize: 1.5rem;
  --header-col: var(--col-txt);
  --header-gap: 1rem;
  --header-padding: var(--page-padding);

  /* product */
  --product-item-min-size: min(300px, 90vmin);
  --product-item-max-size: max(400px, 20vw);
  --product-item-hover-thumbnail-scale: 1.2;
  --product-item-hover-thumbnail-greyscale: 0.6;
  --product-item-hover-thumbnail-opacity: 0.6;
  --product-text-size: 1rem;
  --product-title-col: var(--col-txt);
  --product-title-size: 1rem;
  --product-photo-color: var(--col-light-grey);
  --product-photo-shadow-size: 3rem;
  --product-price-font: var(--highlight-font);
  --product-price-size: 1.2rem;
  --product-price-highlight-col: var(--col-highlight);
  --product-tag-col: var(--col-txt-alt);
  --product-tag-bg-col: var(--col-dark-grey);
  --product-tag-highlight-bg-col: var(--col-highlight);
  --product-tag-size: 0.8rem;
  --product-transition-duration: 0.3s;

  /* product-list */
  --product-list-padding: var(--page-padding);
  --product-list-gap: 3lh 1lh;
}
